body{
    background-color: #05088de8;
    color: #000000  ;
}
.body2{
    background-color: #000000;
}
.body3{
    background-color: rgba(158, 37, 0, 0.986);
    color: rgb(255, 255, 255);
}
nav a:hover{
    color: #b17505
}
nav a{
    position: relative;
    display: inline-block; 
    font: 1em sans-serif;
    color: #000000;
    padding: 0 23px;
    text-decoration: none;
}

 .p{
    color: rgb(5, 5, 5);
    animation: slideIn 2s ease-out forwards;
    transform: translateX(-100%);
    opacity: 0; 
 }
.h1{
    color: rgb(0, 0, 0);
    animation: slideIn 2s ease-out forwards;
    transform: translateX(-100%);
    opacity: 0;
}
@keyframes slideIn {
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .img1{
    transform: translateX(100%);
    animation: slideInRight 1s ease-out forwards;
  }
  @keyframes slideInRight {
    to {
      transform: translateX(0);
    }
  }